myCompiler/build/
myCompiler/src/.antlr
myCompiler/src/backend/linerScan/
myCompiler/3rd_party
.vscode/
debug_case/*
case/**/*
ubuntu-24.04.2-preinstalled-server-riscv64.img
ubuntu-24.04.2-preinstalled-server-riscv64.img.xz
/run.sh
/test.sh
libsysy_riscv.a
compiler2023/*
fpga-remote-debugging/*
tools/*
cmp_perf2025/*
